//*****************************************************
//*   NAV
//*****************************************************


@use '../abstracts/mixins';
@use '../abstracts/variable';
.nav{
    // border: 2px solid red;
    height: 10vh;
    padding: 1rem;

    &__list{
        text-align: right;
        list-style-type: none;
    }

    &__item{
        display: inline;
        padding: 1rem;
    }

    &__link{
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.3rem;
        font-family: variable.$font-family;
        font-weight: 500;
        @include mixins.soft(.5s);

        &:hover{
            color: blue;
        }

        &--active{
            color: variable.$secondary-color;
        }
    }

    
}